# Turn rewrite engine on

RewriteEngine on


RewriteRule ^nogroups frontend/html/pages/nogroups.php [NC,L]

RewriteRule ^login frontend/html/pages/login.php [NC,L]

RewriteRule ^newgroup frontend/html/pages/newgroup.php [NC,L]

RewriteRule ^profile frontend/html/pages/profile.php [NC,L]

RewriteRule ^dashboard/([0-9]+) frontend/html/pages/dashboard.php?group=$1 [NC,L]

RewriteRule ^todo/([0-9]+) frontend/html/pages/todo.php?group=$1 [NC,L]

RewriteRule ^poll/([0-9]+) frontend/html/pages/poll.php?group=$1 [NC,L]

RewriteRule ^members/([0-9]+) frontend/html/pages/members.php?members=$1 [NC,L]

RewriteRule ^logout backend/logout.php [NC,L]

RewriteRule ^accept_request backend/accept_request.php [NC,L]

RewriteRule ^decline_request backend/decline_request.php [NC,L]

RewriteRule ^send_chat backend/send_chat.php [NC,L]

RewriteRule ^make_admin backend/make_admin.php [NC,L]

RewriteRule ^fetch_recent_posts backend/fetch_recent_posts.php [NC,L]

RewriteRule ^fetch_recent_poll backend/fetch_recent_poll.php [NC,L]

RewriteRule ^fetch_old_posts backend/fetch_old_posts.php [NC,L]

RewriteRule ^fetch_old_todos backend/fetch_old_todos.php [NC,L]

RewriteRule ^send_attach backend/send_attach.php [NC,L]

RewriteRule ^leave_group backend/leave_group.php [NC,L]

RewriteRule ^delete_group backend/delete_group.php [NC,L]

RewriteRule ^edit_username backend/edit_username.php [NC,L]

RewriteRule ^insert_attach backend/insert_attach.php [NC,L]

RewriteRule ^link_prepare backend/link_prepare.php [NC,L]

RewriteRule ^link_preview backend/link_preview.php [NC,L]

RewriteRule ^delete_post backend/delete_post.php [NC,L]

RewriteRule ^search_posts backend/search_posts.php [NC,L]

RewriteRule ^like_old backend/like_old.php [NC,L]

RewriteRule ^sign_up backend/sign_up.php [NC,L]

RewriteRule ^poll_send backend/poll_send.php [NC,L]

RewriteRule ^poll_vote backend/poll_vote.php [NC,L]

RewriteRule ^poll_percent backend/poll_percent.php [NC,L]

RewriteRule ^create_todo backend/create_todo.php [NC,L]

RewriteRule ^create_task backend/create_task.php [NC,L]

RewriteRule ^create_comment backend/create_comment.php [NC,L]

RewriteRule ^send_to_doing backend/send_to_doing.php [NC,L]

RewriteRule ^send_to_done backend/send_to_done.php [NC,L]

RewriteRule ^delete_task backend/delete_task.php [NC,L]

RewriteRule ^tasks_count backend/tasks_count.php [NC,L]

RewriteRule ^remove_member backend/remove_member.php [NC,L]

RewriteRule ^fetch_one_todo backend/fetch_one_todo.php [NC,L]

RewriteRule ^get_task_with_number backend/get_task_with_number.php [NC,L]

RewriteRule ^get_comment_with_number backend/get_comment_with_number.php [NC,L]


RewriteRule ^list/([0-9]+)/([0-9]+)$  frontend/html/pages/list.php?group=$1&todo=$2 [NC,L]







